<div class="col-sm-12 uslugi-tab">
  <table class="table table-hover-sm">
    <thead class="table-dark uslugi-tab-title">
      <tr>
        <th><%= @category.title %></th>
        <th>Врач</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td><%= @category.description %></td>
        <td>Jacob</td>
      </tr>
    </tbody>
  </table>

  <%= link_to 'Редактировать', edit_category_path(@category), class: 'btn btn-primary' %>
  |
  <%= link_to 'Удалить', category_path(@category), method: :delete, data: { confirm: 'Вы уверены?' }, class: 'btn btn-primary' %>
  |
  <%= link_to 'Назад', categories_path(@category), class: 'btn btn-primary' %>
</div>